
.moviedesc-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 2px solid black;
    background-size: cover;
    box-shadow:inset -50px -100px 100px 50px rgba(0,0,0,0.7), inset 50px 150px 100px 50px rgba(0, 0, 0, 0.3);
}

.blur{
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.movie-details{
    height: 80vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-top: 100px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);

}

.theater-schedule{
    height: 80vh;
    width: 50vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.movie-card{
    height: 350px;
    width: 260px;
    /* background-color: blue; */
    border-radius: 15px;
    size:cover;
}

.movie-description{
    text-align: justify;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    /* border: 2px solid black; */
    /* background-color: rgba(0, 0, 0, 0.333); */
   
    font-size: 20px;
}

.toggle-container{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 70px;
    width: 90vw;
    height: 95vh;
}


.buyticketbtn{
  font-family: 'Ubuntu', sans-serif;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 45px;
  line-height: 1;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #ffffff8b;
  background-color: white;
  color: blueviolet;
 border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
 }

 .btn-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 70px;
    padding-top: 20px;
 }