.alltheater-container{
    text-align: center;
}
.theaters-list-container{
    width: 85vw;
    border: 2px solid black;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


.theater-desc{
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.slot-desc{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot{
    height: 100px;
    width: 18vw;
    border: 1px solid black;
    border-radius: 10px;
}