.card{
    height: 78vh;
    width: 90%;
    border-radius: 15px;
    background-color: aquamarine;
    text-align:end;
    margin:5px;
    padding: 5px;
    margin-left: 30px;
    margin-top: 20px;
    background: url('./card2.jpg');
    background-size: cover;
    color: white;
    
 }
 
 /* .flow_img2{

    background-color: aqua;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: -10px;
    margin-left: 50px;
    background-image: url(../../../public/card-image.jpg);
    background-size: cover;
 } */
  .card-dis{
   position: relative;
   top: 400px;
   right: 20px;
  }