.card_1{
   max-height: 220px;
   max-width: 340px;
   min-width: 200px;
   min-height: 120px;
   border-radius: 15px;
   text-align:justify;
   margin:10px;
   padding: 5px;
   background-size: cover;
   color: white; 
}

.card-text{
   position: relative;
   top: 80px;
}

@media (max-width:600px) {
   .card-text{
      top:30px;
   }
    .card-text h3,p{
      font-size: medium;
      margin: 2px;
   }
   
}