.card3{
    height: 34vh;
    width: 88%;
    border-radius: 15px;
    background-color: rgb(184, 113, 37);
    text-align:justify;
    margin:1px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 20px;
    background-size: cover;
   color: white;
   align-content: end;
 }




 @media (max-width:600px) {
    .card3{
      min-width:150px;
    }
 }
 
 @media (max-width:400px) {
    .card3{
      width:150px
    }
 }