.main_container{
    background: transparent;
}
.right_div{
    
    float: right;
    width: 50%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    
}
.left_div{
   
    float: left;
    width: 50%;
    height: 90vh;
}
.next_btn{
    float: right;
    margin-right: 30px;
    margin-top: -60px;
    font-size: 20px;

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* .previous {
    background-color: #f1f1f1;
    color: black;
    
  } */
  
  /* .next {
    background-color: #17211d;
    color: white;
  } */
  
  /* .round {
    border-radius: 60px;
  } */