.main_container{
    background: transparent;
    color: white;
}
.right_div{
    /* max-width: 50%; */
    min-width: 350px;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    overflow: scroll;
    scrollbar-width:none;
    scrollbar-color: black;
    
}

.left_div{
    width: 50%;
    height: 90vh;
}
.next_btn{
    float: right;
    margin-right: 30px;
    margin-top: -60px;
    font-size: 20px;

}


.newrelease-cards-conatiner{
  min-width: 350px;
  display: flex;
}

@media (max-width:1000px) {
  
  .right_div{
    width: 90vw;
  }
  .newrelease-cards-conatiner{
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
  }
}