.seats-container{
    /* height: 90vh; */
    /* width: 40vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
     background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    gap: 10px;
}

.screen{
    height: 2vh;
    background-color: rgba(125, 195, 255, 0.885);
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0px 15px 40px 2px rgb(39, 15, 255);
}

.normal{
    height: 10vh;
    width: 40vw;
    /* background-color: rgb(45, 206, 168); */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* box-shadow: 2px 2px 10px 5px rgb(16, 138, 213), -2px -2px rgb(9, 120, 237) ; */

}



.premium{
    height: 20vh;
    width: 40vw;
    /* background-color: rgb(68, 44, 255); */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}



.delux{
    height: 10vh;
    width: 40vw;
    /* background-color: rgb(236, 53, 148);  */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.normal .seat{
    background-color: #EDF6F9;
    /* background-color: #75DDDD; */
    /* border: 3px solid purple; */
    /* box-shadow: 2px 2px rgb(16, 138, 213), -2px -2px  rgb(9, 120, 237) ; */
}

.premium .seat{
    background-color: #83C5BE;
    /* background-color: #9297C4; */
}

.delux .seat{
    background-color: #006D77;
    /* background-color: #9368B7; */
}
.seat{
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 5px;
    color: black;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
}

.seat:hover{
    background-color: rgb(11, 176, 253);
}

.seat-d-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
}
.seat-d-container div{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
}
.seat-display-n{
    background-color:#EDF6F9;
    color: #006D77;
}
.seat-display-p{
    background-color:#83C5BE;
    color:#006D77;
}
.seat-display-d{
    background-color:#006D77;
    color:#EDF6F9;
}

.vacant{
    height: 20px;
    width: 20px;
    /* background-color: rgb(68, 44, 255); */
    margin: 5px;
    color: #ffffff;
    text-align: center;
}

#selected{
    background-color: rgb(15, 244, 79);
}

.booked{
    height: 20px;
    width: 20px;
    background-color: rgb(60, 60, 60);
    margin: 5px;
    text-align: center; 
}


@media (max-width:770px) {
    .screen h1{
        font-size:20px;
    }
    .seat,.vacant,.booked{
        height: 15px;
        width: 15px;
        margin: 3px;
    }
    .normal,.delux,.premium{
        width: 85vw;
        height: fit-content;
        margin-bottom: 10px;
    }

}

@media (max-width:405px) {
    .normal,.delux,.premium{
        width: 96vw;
        height: fit-content;
        margin-bottom: 10px;
    }

    .seat,.vacant,.booked{
        height: 12px;
        width: 12px;
        margin: 3px;
    }
}