.seats-container{
    /* height: 90vh; */
    /* width: 40vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
     background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.screen{
    height: 2vh;
    background-color: rgba(125, 195, 255, 0.885);
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0px 15px 40px 2px rgb(39, 15, 255);
}

.normal{
    height: 12vh;
    width: 40vw;
    /* background-color: rgb(45, 206, 168); */
    display: flex;
    flex-wrap: wrap;

}

.premium{
    height: 35vh;
    width: 40vw;
    /* background-color: rgb(68, 44, 255); */
    display: flex;
    flex-wrap: wrap;
}

.delux{
    height: 18vh;
    width: 40vw;
    /* background-color: rgb(236, 53, 148);  */
    display: flex;
    flex-wrap: wrap;
}

.seat{
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 5px;
    color: black;
    text-align: center;
}

.seat:hover{
    background-color: rgb(11, 176, 253);
}

.vacant{
    height: 20px;
    width: 20px;
    /* background-color: rgb(68, 44, 255); */
    margin: 5px;
    color: #ffffff;
    text-align: center;
}

#selected{
    background-color: rgb(15, 244, 79);
}

.booked{
    height: 20px;
    width: 20px;
    background-color: rgb(60, 60, 60);
    margin: 5px;
    text-align: center; 
}