.main-description{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top:70px ;
}


.timing-bar{
    background-color: rgba(0, 229, 255, 0.74);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.discription-container{
    background-color: antiquewhite;
    /* height: 85vh; */
    display: flex;
}
.billing{
    width: 38%;
    background-color: rgb(74, 125, 125);
}
.seat-box{
    width: 62%;
}


.ticket-desc{
    height: 45vh;
    width: 25vw;
    background-color: rgba(4, 4, 22, 0.449);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    gap: 5px;
    
}

table{
    padding: 10px;
    border: 0px solid black;
    text-align: center;
}

table,tr{
    color:white;
    font-size: 1rem;
}

.timebar-slots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.timebar-dates-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.seatnumbers{
    display: flex;
    justify-content: center;
    align-items: center;
}