.main-description{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top:70px ;
}


.timing-bar{
  background-color: white;
    min-height: 10vh;
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;

}
.discription-container{
    /* background-color: antiquewhite; */
    /* height: 85vh; */
    display: flex;
    flex-wrap: wrap;
}
.billing{
    width: 38%;
   background-color: rgba(0, 0, 0, 0.737);
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.seat-box{
    width: 62%;
}



.ticket-desc{
   
   background-color: rgba(255, 255, 255, 0.789);
   color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    gap: 5px;
    
}

table{
    padding: 10px;
    border: 0px solid black;
    text-align: center;
    color: black;
}

table,tr{
    color:black;
    font-size: 1rem;
}

.timebar-slots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.timebar-dates-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.seatnumbers{
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectedslot{
   box-shadow: 0.5px 0.5px 10px rgba(12, 147, 244, 0.577);
    color: blueviolet;
}

@media (max-width:768px) {
    .seat-box{
        width: 800px;
        
    }
    .discription-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .billing{
        width:100%;
        height:60vh;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .timebar-dates-container{
        font-size: 15px;
    }


}

#date{
    border-radius: 50px;
    padding: 2px 5px;
    background-color:white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: blueviolet;
}

@media (max-width:375px) {
    #date{
        width: 200px;
        margin: 5px;
    }
    
}

