.main-description{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top:70px ;
}



.discription-container{
    background-color: antiquewhite;
    /* height: 85vh; */
    display: flex;
}
.billing{
    width: 38%;
    background-color: rgb(74, 125, 125);
}
.seat-box{
    width: 62%;
    /* height: 85vh; */
    /* background-color: brown; */
}


.ticket-desc{
    height: 45vh;
    width: 25vw;
    background-color: rgba(4, 4, 22, 0.449);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    gap: 5px;
    
}

table{
    padding: 10px;
    border: 0px solid black;
    text-align: center;
}

table,tr{
    color:white;
    font-size: 1rem;
}
/* 
Timing Bar */
.timing-bar{
    background-color: rgb(23, 127, 218);
    height: 15vh;
    

}

.timing-slot{
    height: 15vh;
    background-color: aqua;
    width: 20vh;
    border: solid black 5px;
}