.choose-theater-slot{
    width: 70vw;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: -50px;
}

.theater-toggle-containerr{
    position:fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    top: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.ttr-icon{
    margin-right: -500px;
}

.theater-slot{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color:white;
    margin: 10px;
    border-radius: 15px; 
    color: black;  
    border:2px solid rgba(170, 51, 229, 0.49)
}

.theater-desc{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(211, 4, 243, 0.177);
    color: rgb(137, 43, 226);
}

.slots-container{
    display: flex;
    width: 40em;
    justify-content: space-around;
    align-items: center;
    
}

.slot{
    padding:5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: rgba(137, 43, 226, 0.581);
    box-shadow: 1px 1px 5px rgba(211, 4, 243, 0.177);
}

.slot:hover{
    box-shadow: 2px 2px 7px rgba(211, 4, 243, 0.277);

}

@media (max-width:768px) {

    .choose-theater-slot{
        width: 80vw;
    }
    .theater-slot{
        font-size: 11px;
    }
    
}