.choose-theater-slot{
    width: 70vw;
    border-radius: 15px;
   background-color: white;
    display: flex;
    flex-direction: column;
}

.theater-toggle-containerr{
    position:fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    top: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.ttr-icon{
    margin-right: -500px;
}

.theater-slot{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color:white;
    margin: 10px;
    border-radius: 15px; 
    color: black;  
    border: 1px solid black;
}

.theater-desc{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.slots-container{
    display: flex;
    width: 40em;
    justify-content: space-around;
    align-items: center;
    
}

.slot{
    border: 1px solid blueviolet;
    padding:5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: rgba(137, 43, 226, 0.581);

}