.sidebar-container{
    height: 100vh;
    width: 100px;
    border-radius: 15px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    .sidebar-container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */

}

.icons{
    background-color:rgba(189, 67, 255, 0.399);
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    backdrop-filter: blur(15px);
    text-align: center;
    color: rgba(0, 0, 0, 0.989);
}

a{
    text-decoration: none;
    color:balck;
}