.cs_cards-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    color: white;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
 /* scrollBehavior: smooth; */
    /* flex-wrap: wrap; */
}
h1{
    color: white;
}