.addToScreen-container{
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 80vh;
    overflow: scroll;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}



.Choose-theater{
    height: 30vh;
    width: 40vw;
    border-radius: 10px;
    /* border: 1px solid black; */
}


.slots-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.slots-div{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

.select-container-ats{
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px 10px;
    /* border: 1px solid black; */
    overflow: scroll;
    height: 550px;
}
.select-card{
    height: 50px;
    width: 30vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.select-card:hover{
    border: 2px solid blueviolet;
}

