.banner-container{
    border: 2px solid black;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-image: url("../../../public/wal2.jpg");
    background-size: cover;
   box-shadow: inset 0px -150px 80px 10px  rgba(0,0,0,1.5);
    z-index: 0;
}


.banner-flow{
    width: 90vw;
    display: flex;
    justify-content:space-between;
    align-items:end;

}

.flow-img{
    background-color: aqua;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 60px;
    background-image: url("../../../public/card-image.jpg");
    background-size: cover;
}

.flow-description{
   height: 350px;
   width: 550px;
   text-align: justify;
   padding-inline-start: 10px;
   color: rgba(255, 255, 255, 0.785);
   
}

.flow-dots{
    background: transparent;
   width: 400px;
}

.flow-btns{
    display: flex;
    justify-content:start;
    gap: 50px;
    padding: 10px;
    margin: 5px;
}
/* .flow_img{
 height: inherit;
 width: inherit;
 background-size: contain;
 border-radius: 15px;
} */
 .buyticket_btn{
    font-family: 'Ubuntu', sans-serif;
 
  transform: translate(-50%, -50%);
  
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #39355e;
  background: #880808;
  color: #fdfdfd;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
  margin-left: 40px;
  margin-top: 20px;
 }
 .buyticket_btn:hover{
    background: #8C82FC;
    color: #fff;
  }