.banner-container{
    border: 2px solid black;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-image: url("../../../public/wal2.jpg");
    background-size: cover;
   box-shadow: inset 0px -150px 80px 10px  rgba(0,0,0,1.5);
    z-index: 0;
}


.banner-flow{
    width: 90vw;
    display: flex;
    justify-content:space-between;
    align-items:end;
    z-index: 1;
}

.flow-img{
    background-color: aqua;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 60px;
    background-image: url("../../../public/card-image.jpg");
    background-size: cover;
}

.flow-description{
   height: 350px;
   width: 550px;
   text-align: justify;
   padding-inline-start: 10px;
   color: rgba(255, 255, 255, 0.785);
   
}

.flow-dots{
    background-color: aquamarine;
   width: 400px;
}

.flow-btns{
    display: flex;
    justify-content:start;
    gap: 50px;
    padding: 10px;
    margin: 5px;
}
/* .flow_img{
 height: inherit;
 width: inherit;
 background-size: contain;
 border-radius: 15px;
} */